.item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.item-user {
  flex: 1;
  justify-content: flex-start;
}

.item-button{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
