<nb-card>
  <nb-card-body>
    <nb-list>
      <nb-list-item>
        <div class="item-container">
          <div class="item-left">
            <b>Invite</b>
          </div>
          <div class="item-1">
            <b>User</b>
          </div>
        </div>
      </nb-list-item>
      <nb-list-item *ngFor="let user of users">
        <div class="item-container">
          <div class="item-left">
            <nb-checkbox [(checked)]="user.invited"></nb-checkbox>
          </div>
          <div class="item-1">
            <nb-user name="{{user.user.firstname}} {{user.user.lastname}}" title="{{user.user.username}}"></nb-user>
          </div>
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
  <nb-card-body>
    <textarea nbInput fullWidth placeholder="Write a message..." [(ngModel)]="message"></textarea>
  </nb-card-body>
  <nb-card-footer>
    <div class="item-2">
      <button nbButton (click)="sendInvitations()">Send invitations</button>
    </div>
  </nb-card-footer>
</nb-card>
